<h3>Create a new student</h3>
<form class="" [formGroup]="studentForm">
  <label for="firstName">
    First Name <br>
    <input class="" type="text" id="firstName" [formControlName]="'firstName'">
  </label>
  <br>
  <label for="lastName">
    Last Name<br>
    <input class="" type="text" id="lastName" [formControlName]="'lastName'">
  </label>
  <br>
  <label for="id">
    Id <br>
    <input class="" type="number" id="id" [formControlName]="'id'">
  </label>
  <br>
  <button type="submit" class="btn-custom" (click)="httpPostStudent()">Create</button>
</form>