<h3>Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>
  <label for="major">
    Major 
    <select class="input-custom" name="major" id="major-select" [formControlName]="'major'">
      <option *ngFor="let currentMajor of FILIERE_LIST" [value]="currentMajor">
        {{currentMajor}}
      </option>
    </select>
  </label>
  <br>
  <label for="student">
    Student
    <select class="input-custom" required id="student" [formControlName]="'studentID'">
      <option value="" disabled selected>Choose the Student</option>
      <option *ngFor="let student of STUDENTS_LIST" [value]="student.id">
        {{student.id}} - {{student.lastName}} {{student.firstName}}
      </option>
    </select>
  </label>
  <br>
  <button type="submit" class="btn-custom" (click)="httpPostTicket()">Create</button>
</form>