<div class="ticket-list">
  <!-- <div class="ticket" *ngFor="let ticket of ticketList">
      <app-ticket [ticket]="ticket" (ticketHasBeenArchived)="archivedTicket($event)"></app-ticket>
  </div> -->
  <button class="btn-custom" (click)="displayTicketArchived = !displayTicketArchived">
    {{displayTicketArchived ? 'Cacher' : 'Voir'}} les tickets
  </button>
  <div class="ticket" *ngFor="let ticket of ticketList">
    <span *ngIf="!ticket.archived || displayTicketArchived">
      <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
        (ticketHasBeenArchived)="archivedTicket($event)"></app-ticket>
    </span>
  </div>
</div>
